<!DOCTYPE html>
<html>
<head>
  <title>Rails4Facebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", logout_path, class: 'logout' %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "login" %>
  <% end %>
</div>


<%= yield %>

</body>
</html>
