<!DOCTYPE html>
<html>
<head>
  <title>Rails4Facebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="fb-root"></div>
  <script>
    if (window.location.hash == '#_=_')window.location.hash = '';

    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId      : "<%= ENV['FACEBOOK_APP_ID'] %>",
        status     : true,
        xfbml      : true,
        cookie: true
      });
    };

    // Load the SDK asynchronously
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", logout_path, class: 'logout' %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "login" %>
  <% end %>
</div>


<%= yield %>

</body>
</html>
